header.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index:99999;
  }

body {
    background-color: beige;
    margin-bottom: 10vh;
}

.logo {
    height: 22vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.tech-logo {
    width: 10em;
}

.info-card {
    border: 1px solid rgba(62, 58, 113, 255);
    margin-top: 16px;
}

.bg-purple {
    background-color: rgba(62, 58, 113, 255);
}

.shadow {
    box-shadow: 3px 3px 5px rgba(62, 58, 113, 255);
}

.f-input {
    width: 100%;
    border: 1px solid rgba(62, 58, 113, 255);
}