html {
    margin: 0;
    background-color: #FBFCFE;
}

/* Flexbox Styles */

.container {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: stretch;
}
    
.headfoot {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: stretch;
}

.item {
    margin: auto;
}

/* End Flexbox */

/* Header */

.headfoot {
    background-color: #1B57FE;
}

.title {
    font-family: 'Courier New', Courier, monospace;
    color: #2E0A39;
}

.title h1, h5 {
    padding: 0;
}

.title h1 {
    font-family: 'Fredericka the Great', cursive, 'Courier New', Courier, monospace;
    text-shadow: -1px -1px white;
}

/* End Header */


/* Navigation */

.nav > ul > li {
    display: inline-block;
    list-style-type: none;
    border: 1px solid #FBFCFE;
    padding: 5px 20px;
    margin-top: 3px;
    box-shadow: inset 1px 1px 30px white;
    border-radius: 8px;
}

.nav > ul > li > a:link {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.nav > ul > li > a:visited {
    color: rgb(8, 94, 8);
} 

.nav > ul > li > a:hover {
    color: black;
} 

/* same style as hover for non-mouse users */
.nav > ul > li > a:focus { 
    color: black;
} 


.nav > ul > li > a:active {
    color: orangered;
} 

/* End Navigation */

/* Main Content */
    .content {
        font-family: 'Courier New', Courier, monospace;
        width: 70%;
        text-align: justify;
    }

    h3 > a {
        color: black;
        text-decoration: none;
    }

    h3 {
        font-family: 'Share Tech Mono','Courier New', Courier, monospace;
        text-decoration-line: underline;
        text-shadow: 1px 1px 2px #1B57FE;
    }
/* End Main Content */

/* Topic Cards */
    .card {
        border: 1px solid darkgray;
        border-radius: 8px;
        padding: 8px;
        margin: 5px 0 20px 0;
        background-color: lightgray;
        box-shadow: -1px -1px 8px darkslategray;
    }

    .logo, .portrait {
        float: left;
        overflow: auto;
        padding: 10px;
    }
/* End Topic Cards */

/* Footer */
footer {
    font-family: 'Courier New', Courier, monospace;
    background-color: darkslategray;    
    color: white;
}

footer > div > a {
    color: white;
    text-decoration: none;
}
/* End Footer */

/* Form */
fieldset {
    margin-bottom: 30px;
    border-radius: 10px;
    border: 1px solid #2E0A39;
}

legend {
    text-align: center;
    border-radius: 3px;
    border: 1px solid #2E0A39;
    padding: 5px;
}

input, textarea {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    resize: vertical;
}

label {
    display: inline-block;
}

.submit {
    align-content: center;
    width: 20%;
}

.quarterpage {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.threequarter {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.form-row:after {
    content: "";
    display: table;
    clear: both;
}

    /* For screens less than 680px wide, stack label and input fields */
@media screen and (max-width: 680px) {
    .quarterpage, .threequarter, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
/* End Form */

/* Success */
.success {
    margin-top: 35vh;
    margin-bottom: 30vh;
    text-align: center;
}
/* End Success */